body {
  background: #7de3ed;
  text-align: center;
}

//White box
.container{
  background: white;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin : {
    left: auto;
    right: auto;
    top: 4rem
    }
}

//bars
.graph{
  fill: navy;
}

.graph:hover{
  fill: lightblue
}
